.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-section {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-pic {
  height: 300px;
}

.menu-section {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}

.menu-section img {
  width: 50%;
  object-fit: cover;
  border-radius: 15px;
}
.menu-description-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  width: 50%;
  margin-left: 20px;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
@media (max-width: 750px) {
  .menu-section {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .menu-section img,
  .menu-description-box {
    width: 100%;
    height: 500px;
    margin: 10px 0;
  }
  .menu-description-box {
    flex: 1;
  }
  .button {
    margin-top: 10px;
  }
}
