:root {
  --primary-color: #1c2c59;
  --secondary-color: #f5f3ec;
  --tertiary-color: #c3986d;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  background-color: var(--primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;
  background-color: var(--secondary-color);
  height: 100%;
  overflow-y: auto;
  padding: 0 20px;
  border-radius: 0;
  mask: radial-gradient(20px at 40px 40px, transparent 98%, black) -40px -40px;
}
